.container {
    display: flex;
    flex-direction: column;
}

.move {
    width: 8rem;
    height: 3rem;
    background: blue;
    color: white;
    margin: 1rem;
    padding: 1rem;
    transition-property: translate();
    transition-duration: 3s;
}

#ease {
    transition-timing-function: ease;
}

#linear {
    transition-timing-function: linear;
}

#ease-in {
    transition-timing-function: ease-in;
}

#ease-out {
    transition-timing-function: ease-in;
}

#ease-in-out {
    transition-timing-function: ease-in-out;
}

.move:hover {
    transform: translate(900px, 0);
}
